<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Backend API (Waitress) Proxy -->
        <rule name="ReverseProxyToFlaskAPI" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8000/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- PKL dosyaları için MIME type izni -->
    <staticContent>
      <remove fileExtension=".pkl" />
      <mimeMap fileExtension=".pkl" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>